html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.main-content {
  flex: 1;
  padding-top: 80px; /* navbar height */
}
