/* Basic global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: var(--font-sans);
}
nav a {
  color: inherit;
  text-decoration: none;
}

